/* ClientForm.css */

.clientForm-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%; /* Ajusta el ancho al 100% */
  max-width: 400px;
  margin: 0 auto;
}

.clientForm-section {
  margin-bottom: 20px;
}

.clientForm-section-title {
  font-size: 24px;
  color: #004aad;
  margin-bottom: 15px;
}

.clientForm-form-row {
  display: flex;
  justify-content: center;  /* Añade este estilo para centrar los botones */
  margin-bottom: 15px;
}

.clientForm-label {
  font-weight: bold;
  color: #666;
  margin-right: 10px;
}

.clientForm-input-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.clientForm-input-icon {
  margin-right: 10px;
  font-size: 24px;
}

.clientForm-input,
.clientForm-select {
  flex-grow: 1;
  padding: 8px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
}

.clientForm-textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.clientForm-search-button {
  background-color: #004aad;
  color: #fff;
  border: none;
  padding: 6px 10px;
  margin-bottom: 9px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
}

.clientForm-search-icon {
  font-size: 20px;
  margin-right: 8px;
}

.clientForm-search-button:hover {
  background-color: #003d8a;
}

.clientForm-error {
  color: red;
  margin-top: 5px;
}
.clientForm-product-button {
  background-color: #004aad;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.clientForm-product-button.selected {
  background-color: orange;
}