

/* Asegúrate de que el Container de Reactstrap no tenga padding extra que cause el desbordamiento */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  /* ...otros estilos si son necesarios... */
}
.invoice-preview {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  padding: 0rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow-x: hidden;
}

.client-details {
  color: #ffffff;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.client-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0056b3;
}

.client-info {
  font-size: 0.9rem;
  color: #ccc;
}

.invoice-header {
  background-color: transparent;
  color: #ffffff;
  margin-bottom: 1rem;
  padding: 0;
}

.invoice-date {
  background: #333;
  color: #fff;
  padding: 0.7rem;
  border-radius: 0.25rem;
  text-align: left;
}

.items-list {
  overflow-y: auto;
  margin-bottom: 1rem;
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento para IE y Edge */
}
/* Oculta la barra de desplazamiento en Webkit & Blink browsers, como Safari, Chrome y Opera */
.items-list::-webkit-scrollbar {
  display: none;
}
.item {
  background-color: #1c1c1c;
  border: 1px solid #333;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  height: 60px;
  min-height: 50px;
  justify-content: space-between;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button,
.delete-button button {
  background-color: #333;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0.1rem;
}

.quantity span {
  min-width: 20px;
  text-align: center;
}

.item-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.5rem;
}

.quantity button:hover,
.delete-button button:hover,
.finish-invoice-button button:hover {
  background-color: #003b80;
}

.finish-invoice-button {
  flex-shrink: 0;
  margin-top: auto;
}

.item-total {
  font-weight: bold;
  margin-left: auto;
  color: #0056b3;
}

.total-label, .total-amount {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0056b3;
}

@media (max-width: 768px) {
  .invoice-preview {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-name, .item-price, .item-total {
    white-space: normal;
    overflow-wrap: break-word;
  }

  .quantity, .delete-button {
    justify-content: flex-start;
  }
}.confirmation-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: green;
  /* Añade tu animación aquí */
  animation: confirmAnimation 2s ease forwards;
}

.product-info, .quantity {
  flex: 1 0 auto; /* Añadir algún espacio alrededor del contenido */
}
@keyframes confirmAnimation {
  0% { opacity: 0; transform: scale(0.5) translate(-50%, -50%); }
  50% { opacity: 1; }
  100% { opacity: 0; transform: scale(1.5) translate(-50%, -50%); }
}
/* Estilos para la sección de ajustes y detalles de la factura */
.adjustments-and-summary {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #333; /* Tema oscuro */
}

.adjustment-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adjustment-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.adjust-button {
  flex: 1; /* Ocupan todo el espacio disponible equitativamente */
  margin: 0 10px; /* Espaciado entre botones */
  /* Resto de estilos */
}

.payment-details {
  display: flex;
  flex-direction: column;
  color: #00afff; /* Texto azul acorde al tema */
  justify-content: center;
  flex: 1; /* Ocupa la mitad del espacio disponible */
  

}

.finalize-invoice-button {
  
  width: 100%; /* Hace que el botón se ajuste al ancho del contenedor */
  box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el ancho */
  
  /* ...otros estilos... */
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Esto hace que el wrapper crezca y tome todo el espacio disponible */
  overflow: hidden; /* Agregar scroll a la lista de productos si se desborda */
}
.element-background {
  background-color: #1c1c1c;
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
/* Estilo para el footer para mantenerlo abajo */
.footer {
  margin-top: auto; /* Esto empujará el footer hacia abajo */
  overflow: hidden;
}
.item, .adjustment-buttons, .payment-details {
  max-width: 100%; /* Evita que estos elementos se extiendan más allá de su contenedor */
}
