
.invoice-preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%; /* Ancho relativo al 80% del ancho de la ventana */
  max-width: 765px; /* Ancho máximo para mantenerlo legible */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}



.invoice-header {
  text-align: center;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.client-info {
  margin-top: 20px;
}

.client-info p {
  margin: 5px 0;
}

.invoice-details {
  margin-top: 20px;
}

.items-list {
  border-collapse: collapse;
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.product-info {
  flex: 1;
  text-align: left;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
}

.quantity button:hover {
  background-color: #2980b9;
}

.item-total {
  font-weight: bold;
}

.delete-button button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button button:hover {
  background-color: #c0392b;
}
.total-label {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

.total-amount {
  font-size: 24px;
  color: #f44336;
  margin-top: 5px;
}
