/* NewBill.css */

 
/* Estilos generales para el sidebar */
.menuSide {
  margin-top: 20px; 
  background-color: #1c1c1c; /* Color de fondo del sidebar */
  border-radius: 25px; /* Bordes redondeados */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  height: 90vh; /* Altura completa */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
  padding: 30px 10px; /* Ajuste del espaciado interno */
  justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
  width: 70px; /* Ancho más delgado para el sidebar */
}

body {
  background-color: #121212; /* Color de fondo oscuro para todo el cuerpo */
  /*background-color: #121212; *//* Color de fondo oscuro para todo el cuerpo */
  color: #ffffff; /* Texto de color blanco para contraste */
}
/* Estilos para los botones */
.newBillMenuItem {
  background-color: transparent; /* Fondo transparente para los botones */
  border: none; /* Sin bordes */
  margin-bottom: 10px ; /* Espacio entre botones */
  width: 50px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  border-radius: 40%; /* Bordes redondeados para hacerlos circulares */
  display: flex;
  align-items: center;
  justify-content: center;
}

.newBillIcon {
  color: white; /* Íconos de color blanco */
  font-size: 1.5em; /* Tamaño del ícono */@media (min-width: 1200px) { /* Ajusta este valor según el breakpoint de `xl` en tu proyecto */
    .invoicePreviewContainer {
      /* Estilos específicos para pantallas grandes */
    }
  }
}

/* Estados activos e interacciones de los botones */
.active {
  background-color: #0056b3 !important; /* Fondo del botón activo */
  transform: scale(1.1); /* Hace que el botón activo sea ligeramente más grande */

}

/* Personalizaciones para el hover de botones */
.newBillMenuItem:hover {
  background-color: #003b80 !important; /* Fondo del botón al pasar el mouse */

}




.items-list {
  max-height: calc(100vh -100px);
  overflow-y: auto; /* Permite desplazamiento vertical si el contenido es demasiado largo */
}

