/* ProductSelectionList.css */
.product-selection-container {
  background-color: #121212; /* Color de fondo oscuro */
  padding: 20px; /* Espacio alrededor de la barra de búsqueda */
  overflow-y: hidden; /* Permite el desplazamiento vertical si es necesario */
}

.search-bar-container {
  display: flex;
  gap: 10px; /* Espacio entre los elementos */
  align-items: center;
  margin-bottom: 30px;
}

.search-input {
  flex-grow: 1;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #2c2c2c;
  border: none;
  margin-right: 10px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.75); /* Color blanco con opacidad para mayor visibilidad */
}

.search-button {
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1rem;
  display: flex; /* Asegurar que los íconos estén centrados */
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Espacio entre botones */
}
.search-button:last-child {
  margin-right: 0;
}

.product-cards-scrollable {
  max-height: calc(100vh - 160px); /* Altura máxima permitida para el contenedor */
  overflow-y: auto; /* Permitir desplazamiento vertical dentro del contenedor */
  overflow-x: auto;
}

.product-card {
  border-radius: 20px; /* Esquinas redondeadas para las tarjetas */
  background-color: #1c1c1c; /* Fondo de las tarjetas */
  color: #ffffff; /* Texto blanco para las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para las tarjetas */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para transform y box-shadow */
}

.product-card:hover {
  transform: scale(1.05); /* Escalar ligeramente al pasar el mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más prominente al pasar el mouse */
}

.product-initial {
  font-size: 3rem; /* Tamaño de fuente grande para la inicial del producto */
}
/* Oculta la barra de desplazamiento en Webkit & Blink browsers, como Safari, Chrome y Opera */
.product-cards-scrollable::-webkit-scrollbar {
  display: none;
}

/* Para Internet Explorer y Edge */
.product-cards-scrollable {
  -ms-overflow-style: none; /* Oculta las barras de desplazamiento en IE y Edge */
}

/* Estilos adicionales para el spinner y otros elementos según sea necesario */

/* ... tus otros estilos ... */
