/* SendOrderForm.css */

.sof-container {
  background-color: #121212; /* Fondo oscuro para el contenedor */
  color: #ffffff; /* Texto blanco para contraste */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
  text-align: center;
  width: 100%; /* Ajusta el ancho al 100% */
  max-width: 500px; /* Máximo ancho del contenedor */
  margin: 20px auto; /* Centrado con margen arriba y abajo */
}

.sof-titulo {
  font-size: 24px;
  color: #007bff; /* Azul brillante para los títulos */
  margin-bottom: 20px;
}

.sof-total,
.sof-amounts {
  background-color: #333; /* Fondo para las secciones de totales */
  color: #fff; /* Texto blanco para contraste */
  padding: 10px 15px;
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 15px;
}

.sof-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.sof-button {
  background-color: #007bff; /* Fondo para botones de productos */
  color: #fff;
  border: none;
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px; /* Bordes más redondeados para los botones */
  transition: background-color 0.3s; /* Transición suave de color */
}

.sof-button:hover,
.sof-button:focus {
  background-color: #0056b3; /* Oscurecer el botón al interactuar */
}

.sof-button.seleccionado {
  background-color: #28a745; /* Color para el botón seleccionado */
  font-weight: bold; /* Texto en negrita para el seleccionado */
}

.sof-input {
  background-color: #262626; /* Fondo oscuro para inputs */
  color: #fff; /* Texto blanco */
  border: 1px solid #333; /* Borde sutil */
  padding: 10px;
  border-radius: 4px; /* Bordes redondeados */
  width: calc(100% - 30px); /* Ajuste de ancho */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transición suave */
}

.sof-input:focus {
  background-color: #121212; /* Fondo más oscuro cuando está en foco */
  color: #007bff; /* Color del texto cuando está en foco */
  border-color: #007bff; /* Color del borde cuando está en foco */
  border-bottom: 2px solid #007bff; /* Borde inferior verde al enfocar */
}


.sof-total-amount,
.sof-cambio-amount {
  font-size: 18px;
  font-weight: bold; /* Texto en negrita para los montos */
}

/* Resto de tus estilos... */
