.top-sidebar {
  width: 100%;
  background-color: #f7f9fc;
  color: #333;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: fixed;
  top: var(--top-bar-height); /* Este valor debe ser la altura del BannerComponent más la Navbar */
  z-index: 100; /* Asegúrate de que el z-index sea apropiado */
}

.top-sidebar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;
}

.menu-item:hover {
  background-color: #e4e7ec;
  color: #555;
}
