:root {
  --top-bar-height: 135px; /* Ajusta esto para que coincida con la altura real del banner y navbar */
}

.App {
  text-align: center;
  display: flex; /* Usa flex para la disposición de los componentes */
  flex-direction: column; /* La dirección de los ítems principales es vertical */

}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10; /* Asegúrate de que este valor es suficiente para que estos componentes se mantengan en la parte superior */
}



.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-container {
  position: relative;
  top: 50px; 
  display: flex; /* Nuevo contenedor flex para el sidebar y el contenido principal */
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
